<!DOCTYPE HTML>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<title>ZenCode</title>
	</head>
	<body>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
			<h5 class="my-0 mr-md-auto font-weight-normal">ZenCode Docs</h5>
			<nav class="my-2 my-md-0 mr-md-3">
				<a class="p-2 text-dark" href="/">Home</a>
				<a class="p-2 text-dark" href="/features">Features</a>
				<a class="p-2 text-dark" href="/language">Language</a>
				<a class="p-2 text-dark" href="/stdlibs">Standard Libraries</a>
				<a class="p-2 text-dark" href="/examples">Examples</a>
			</nav>
			<a class="btn btn-outline-primary" href="/download">Download</a>
		</div>
		<main role="main">
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-3">ZenCode</h1>
					<p>A new programming language and development system designed to address the issues of modern-day software development.</p>
					<p><a class="btn btn-primary btn-lg" href="about.html" role="button">Learn more »</a></p>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h2>Transpiled</h2>
						<p>ZenCode is designed to be transpiled to whichever system you are working with. Working on iOS? Translate to Swift. Working on Android? Translate to Java. Web? Javascript!</p>
						<p><a class="btn btn-secondary" href="features/transpileable.html">Transpileable »</a></p>
					</div>
					<div class="col-md-4">
						<h2>Safe</h2>
						<p>Loading unknown code to your application? Writing a plugin system? Specify exactly which libraries are accessible and make use of language features to make sure code behaves as it should. No cheating.</p>
						<p><a class="btn btn-secondary" href="features/safe.html">Safe »</a></p>
					</div>
					<div class="col-md-4">
						<h2>Robust</h2>
						<p>Developing complex systems is not easy. Getting them to work, all the time, in any circumstance, exponentially harder. Let the language help to create more robust code. Invariant enforcement? Check. Constness and immutability? Check. Deterministic destruction? It's all there.</p>
						<p><a class="btn btn-secondary" href="features/robust.html">Robust »</a></p>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
